<html ng-app>
<head>
  <title>Your Shopping Cart</title>

  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <link href='styles.css' rel='stylesheet' type='text/css'>
  
</head>
<body ng-controller='CartController'>

<div class="container">
  <h1>Your Shopping Cart</h1>
  <form ng-submit="add_product()" id="add_product">
    <ul>
      <li>
        <input required ng-model='item_name' type="text" name="pd-name" id="pd-name"  placeholder="Product name?">
      </li>
      <li>
        <input required ng-model='item_quantity' type="number" name="pd-quantity" id="pd-quantity"  placeholder="Quantity?">
      </li>
      <li>
        <input required ng-model='item_price' type="number" name="pd-price" id="pd-price"  placeholder="$Price">
      </li>
      <li><button class="button btn-add">Add Product</button></li>
    </ul>
  </form>

  <ul class="icons-nav">
    <li>
      <ul class="cart">
        <li class="icon products-icon"></li>
        <li class="ammount products-ammount">{{items.length;}}</li>
      </ul>
    </li>
  </ul>
  <div class="clr">
    <ul id="product-list">
      <li ng-repeat='item in items'>
        <ul class="in-line">
          <li>
            <a ng-click="addToCart(item)">{{item.title}}</a></li>
          <li>
            <input ng-model='item.quantity' type="number">
          </li>
          <li>
            <span>{{item.price | currency}}</span>
          </li>
          <li>
            <span>{{item.price * item.quantity | currency}}</span>
          </li>
          <li class="remove"><button ng-click="remove($index)" class="button btn-delete"></button></li>
        </ul>
      </li>
    </ul>
    
  </div>

  <div class="mycart">
    <ul class="icons-nav border-bottom">
      <li><h2>My Cart</h2></li>
      <li class="pull-right">
        <ul class="cart">
          <li class="icon cart-icon"></li>
          <li class="ammount cart-ammount">{{cart_items.length;}}</li>
        </ul>
      </li>
    </ul>
    <ul id="cart-list">
      <li ng-repeat='cart_item in cart_items'>
        <ul class="in-line">
          <li class="pd_cart_name">
            <button ng-click="removeFromCart($index)" class="button btn-delete"></button>
            <span>{{cart_item.title}}</span></li>
          <li class="pd_cart_qty">
            {{cart_item.quantity}}
          </li>
          <li>
            <span>{{cart_item.price | currency}}</span>
          </li>
          <li>
            <span>{{cart_item.price * cart_item.quantity | currency}}</span>

          </li>
        </ul>
      </li>
    </ul>
    <h3>Total: <span class="orange">{{cartTotal() | currency}}</span></h3>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="app.js"></script>

</body>
</html>
<!--
 Ejercicios:
 1. Crear un formulario para agregar Productos
 2. Imprimir el total del Shopping Cart
 3. Hacer un listado de Productos para escoger y agregar al Shopping Cart.
 -->